.title {
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.win {
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: greenyellow;

    border: black 0.1em solid;
    border-radius: 0.5em;
    background-color: gray;
    padding: 0.2em;
    width: 4.5;

    margin: 0;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.game-container {
    display: flex;
    flex-direction: column;

    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
}

.row {
    display: flex;
    flex-direction: row;
    border-radius: 0.2em;
}

.square {
    margin: 0.1em;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    border: 0.1em solid black;
}