.title {
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.popup {
    background-color: lightgray;
    padding: 0.2em;
    margin: 0;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.win {
    font-size: 5vw;
    color: green;
}

.lose {
    font-size: 3vw;
    color: red;
}

.word-reveal {
    font-size: 2vw;
    color: black;
}

.game-container {
    display: flex;
    flex-direction: column;

    margin: 0;
    position: absolute;
    left: 50%;
    top: 40vh;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
    flex-direction: row;
    border-radius: 0.2em;
}

.square {
    margin: 0.1em;
    display: flex;
    width: 8vh;
    height: 8vh;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    border: 0.1em solid black;
}

.letters {
    display: flex;

    margin: 0;
    position: absolute;
    left: 50%;
    top: 70vh;
    transform: translate(-50%, 50%);
}

.lttr {
    margin: 0.1em;
    display: flex;
    width: 1.8em;
    height: 1.8em;

    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    justify-content: center;
    align-items: center;
    border: 0.1em solid black;
    background-color: lightgray;
}